aiohttp==3.7.4.post0
async-timeout==3.0.1
atomicwrites==1.4.1
attrs==21.4.0
chardet==4.0.0
colorama==0.4.5
discord==1.7.3
discord.py==1.7.3
idna==3.3
iniconfig==1.1.1
multidict==6.0.2
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
tomli==2.0.1
typing_extensions==4.3.0
yarl==1.7.2
